/* ----------------------- flex container elements ----------------------- */

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

}

.flex-item {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border: dashed white 4px;
}


/* nth child can be used to change the styling rules for every nth element of a type */

.flex-item:nth-child(5n) {
    background-color: pink;
}

.flex-item:nth-child(5n + 1) {
    background-color: lightgreen;
}

.flex-item:nth-child(5n + 2) {
    background-color: orange;
}

.flex-item:nth-child(5n + 3) {
    background-color: gold;
}