/* ----------------------- grid column elements ----------------------- */

.grid-columns {

}


/* ----------------------- grid layout elements ----------------------- */

.grid-layout {

}


#header {
    background-color: lightgreen;
}

#main {
    background-color: lightblue;
    
}

#footer {
    background-color: orange;
    
}

#sidebar {
    background-color: pink;
}